/* Variables*/
:root {
  --black-color: black;
  --white-color: white;
  --gradient1-color: #8e2de2;
  --gradient2-color: #4a00e0;
  --ocker-color: #f1a208;
}

html,
body {
  box-sizing: border-box;
  background: linear-gradient(
    to right,
    var(--gradient1-color),
    var(--gradient2-color)
  );

  color: var(--white-color);
  font-family: monospace;
  height: 100vh;
}

h1,
h2 {
  font-weight: normal;
  font-size: 4rem;
  margin-block: 0.5rem 3.5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}

main {
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 70vw;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem;
  background: var(--black-color);
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.todo-list {
  margin: 0;
  padding: 1rem 0 0 0;
  width: 100%;
  list-style: none;
}

.todo-list [type="checkbox"]:checked ~ span {
  text-decoration: line-through;
  font-style: italic;
  color: var(--gradient1-color);
  opacity: 0.5;
}

.form-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0.5rem;
  background: linear-gradient(0deg, #ddd 50%, #fff 50%);
  border-radius: 1rem;
  border: 5px solid var(--gradient2-color);
  color: var(--black-color);
  font-size: 2rem;
  transition: 0.5s;
}

.checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

input {
  border: 5px solid var(--gradient1-color);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: monospace;
}

input:focus {
  outline: 0;
  border: 5px solid var(--gradient2-color);
}

button {
  text-transform: uppercase;
  border: 5px solid var(--gradient2-color);
  border-radius: 0.5rem;
  background: var(--black-color);
  color: var(--white-color);
  font-family: monospace;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
button:hover,
button:active,
button:focus,
select:hover,
select:active,
select:focus {
  border: 5px solid var(--gradient1-color);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 5px solid var(--gradient2-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  background: black;
  color: white;
  cursor: pointer;
}

label {
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  background-color: black;
  margin: 0;
  font: inherit;
  color: currentColor;
  border: 5px solid var(--gradient2-color);
  border-radius: 0.5em;
  display: grid;
  place-content: center;
  height: 5rem;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
